body {
    background-color: #3c3c3c;
    display: flex;
    margin: 30px;
    font-family: 'Courier New';
}

.ladoIzq {
    background-color: #c75c0f;
    width: 40%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.perfil { 
    width: 200px;
    height: 200px;
    border-radius: 5%;
    padding-top: 5px;
}
.nombre{
    text-align: center;
}

.ladoDer{
    background-color: rgb(247, 247, 247);
    width: 60%;
    border-radius: 0 10px 10px 0;
}

.moto{
    width: 300px;
    height: 190px;
    border-radius: 10px 10px 10px 10px;
    border: #000000 solid 5px;

}
.video{
    border: #000000 solid 5px;
    border-radius: 0px 0px 10px 0px;
}

.conocer{ 
    display: block;
    text-align: center;
    width: 100%;
}

a{
    color: #000000;
align-items: center;
}

li {
    display: flex;
    list-style-position: inside;
    margin: 15px;
}

span{
    font-weight: bold;
}

.verequipamiento{
    border: #3c3c3c solid 5px;
    background-color: #ffffff;
}

.visitar{
    border: #3c3c3c solid 5px;
    background-color: #ffffff;
}

.informacion{
    border: #3c3c3c solid 5px;
    background-color: #ffffff;

}

.viaje {
    text-align: center;
    width: 100%;
}

.viaje h1{
    text-decoration: underline;
}

.eleccion {
    text-align: center;
    width: 100%;
}

.eleccion h1{
    text-decoration: underline;
}